<div id="editorText" class="page">
    <div class="header">
        <div class="pull-left">
            <a class="imgIco-back"></a><span>Edit Text</span>
        </div>
        <div class="pull-right">
            <!--文字元件编辑状态切换入口-->
            <a class="imgIco-edit-text"></a>
        </div>
    </div>
    <!--正在编辑的模板-->
    <stage>
        ...
    </stage>
    <!--文字可选择变量展示-->
    <div html-include="text_select_main.html"></div>
    <!--编辑字体-->
    <div html-include="text_select_font.html"></div>
    <!--编辑颜色-->
    <div html-include="text_select_color.html"></div>
    <!--编辑动画-->
    <div html-include="text_select_animation.html"></div>
</div>