<div id="stageSelect">
    <div class="tabnav text-gray">
        <ul class="list-inline content-box">
            <li><a class="text-sm active">CATEGORY1</a></li>
            <li><a class="text-sm">CATEGORY2</a></li>
            <li><a class="text-sm">CATEGORY3</a></li>
            <li><a class="text-sm">CATEGORY4</a></li>
            <li><a class="text-sm">CATEGORY5</a></li>
        </ul>
    </div>
    <div class="tabcon">
        <div class="tabcon-item">
            <ul class="list-inline content-box">
                <li>
                    <div class="rel" style="background-image: url('../public/img/temp/stage_example.jpg');">
                        <span class="icon-tags-new"></span>
                        <div class="icon-download"></div>
                    </div>
                </li>
                <li>
                    <div class="rel" style="background-image: url('../public/img/temp/stage_example.jpg');">
                        <span class="icon-tags-hot"></span>
                        <div class="icon-download"></div>
                    </div>
                </li>
                <li>
                    <div class="rel" style="background-image: url('../public/img/temp/stage_example.jpg');">
                        <div class="proccess-bar"><span></span></div>
                    </div>
                </li>
                <li>
                    <div class="rel" style="background-image: url('../public/img/temp/stage_example.jpg');">
                        <div class="proccess-bar"><span></span></div>
                    </div>
                </li>
                <li>
                    <div class="rel active" style="background-image: url('../public/img/temp/stage_example.jpg');">

                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>