<!--
向中间件请求模板分类和模板:
1.
{
    'single':{
        dir_path:'../stage/single/',
        stages:['01','02']
    }
    'multi':{
        dir_path:'../stage/multi/',
        stages:['01','02']
    }
}
-->
<div id="stageSelect">
    <div class="tabnav">
        <ul class="list-inline">
            <li><a></a></li>
        </ul>
    </div>
    <div class="tabcon">
        <div class="tabitem">
            <ul class="list-inline">
                <li>
                    <a class="rel_block" style="background-image: url('');" stage-path="">
                        <span class="imgIco-tag-hot"></span>
                        <span class="imgIco-tag-new"></span>
                        <div class="innerboder">
                            <div class="imgIco-download"></div>
                            <div class="proccess-bar"><span></span></div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>