<div id="storyPreview" class="page">
    <a class="imgIco-back-circle"></a>
    <a class="imgIco-edit-circle"></a>
    <a class="imgIco-publish-circle"></a>
    <story>
        <stage special>
            <div class="row">
                <div class="col-3">
                    <div><span class="circle-wrap"><img/></span></p></div>
                    <div><span>Will smith</span><span>Works</span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul>
                        <li>
                            <div>
                                <p>Feel good?</p>
                                <p>Please give a 5 star bonus~~~</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p>Want to see friend's story?</p>
                                <p>Want to see friend's story?<br/>
                                    <span>Recommend</span>to them</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <span class="logo">made with wisape</span>
        </stage>
    </story>
</div>
