<div id="textSelectMain" class="panel panel-bottom">
    <div class="panel-hd">
        <ul>
            <li><span class="imgIco-text-bold"></span></li>
            <li><span class="imgIco-text-italic"></span></li>
            <li><span class="imgIco-text-link"></span></li>
            <li><span class="imgIco-text-align-left"></span></li>
        </ul>
    </div>
    <div class="panel-bd">
        <ul>
            <li>
                <div></div>
            </li>
        </ul>
    </div>
</div>