/*
    动画名称：从左进入
*/
@keyframes enter_from_left
{
    0%{
        transform: translate3d(-1000px,0,0);
    }
    100%{
        transform: translate3d(0,0,0);
    }
}
@-moz-keyframes enter_from_left /* Firefox */
{
    0%{
        -moz-transform: translate3d(-1000px,0,0);
    }
    100%{
        -moz-transform: translate3d(0,0,0);
    }
}
@-webkit-keyframes enter_from_left /* Safari 和 Chrome */
{
    0%{
        -webkit-transform: translate3d(-1000px,0,0);
    }
    100%{
        -webkit-transform: translate3d(0,0,0);
    }
}
@-o-keyframes enter_from_left /* Opera */
{
    0%{
        -o-transform: translate3d(-1000px,0,0);
    }
    100%{
        -o-transform: translate3d(0,0,0);
    }
}
/*
    动画名称：从右侧进入
*/
@keyframes enter_from_right
{
    0%{
        transform: translate3d(1000px,0,0);
    }
    100%{
        transform: translate3d(0,0,0);
    }
}
@-moz-keyframes enter_from_right /* Firefox */
{
    0%{
        -moz-transform: translate3d(1000px,0,0);
    }
    100%{
        -moz-transform: translate3d(0,0,0);
    }
}
@-webkit-keyframes enter_from_right /* Safari 和 Chrome */
{
    0%{
        -webkit-transform: translate3d(1000px,0,0);
    }
    100%{
        -webkit-transform: translate3d(0,0,0);
    }
}
@-o-keyframes enter_from_right /* Opera */
{
    0%{
        -o-transform: translate3d(1000px,0,0);
    }
    100%{
        -o-transform: translate3d(0,0,0);
    }
}
/*
    动画名称：从上方进入
*/
@keyframes enter_from_top
{
    0%{
        transform: translate3d(0,-1000px,0);
    }
    100%{
        transform: translate3d(0,0,0);
    }
}
@-moz-keyframes enter_from_top /* Firefox */
{
    0%{
        -moz-transform: translate3d(0,-1000px,0);
    }
    100%{
        -moz-transform: translate3d(0,0,0);
    }
}
@-webkit-keyframes enter_from_top /* Safari 和 Chrome */
{
    0%{
        -webkit-transform: translate3d(0,-1000px,0);
    }
    100%{
        -webkit-transform: translate3d(0,0,0);
    }
}
@-o-keyframes enter_from_top /* Opera */
{
    0%{
        -o-transform: translate3d(0,-1000px,0);
    }
    100%{
        -o-transform: translate3d(0,0,0);
    }
}
/*
    动画名称：从下方进入
*/
@keyframes enter_from_bottom
{
    0%{
        transform: translate3d(0,1000px,0);
    }
    100%{
        transform: translate3d(0,0,0);
    }
}
@-moz-keyframes enter_from_bottom /* Firefox */
{
    0%{
        -moz-transform: translate3d(0,1000px,0);
    }
    100%{
        -moz-transform: translate3d(0,0,0);
    }
}
@-webkit-keyframes enter_from_bottom /* Safari 和 Chrome */
{
    0%{
        -webkit-transform: translate3d(0,1000px,0);
    }
    100%{
        -webkit-transform: translate3d(0,0,0);
    }
}
@-o-keyframes enter_from_bottom /* Opera */
{
    0%{
        -o-transform: translate3d(0,1000px,0);
    }
    100%{
        -o-transform: translate3d(0,0,0);
    }
}
/*
    动画名称：抖动
*/
@keyframes doudong
{
    0%{
        transform: translate3d(-2px,0,0);
    }
    20%{
        transform: translate3d(2px,0,0);
    }
    40%{
        transform: translate3d(-2px,2px,0);
    }
    60%{
        transform: translate3d(2px,-2px,0);
    }
    80%{
        transform: translate3d(2px,2px,0);
    }
    100%{
        transform: translate3d(0,0,0);
    }
}
@-moz-keyframes doudong /* Firefox */
{
    0%{
        -moz-transform: translate3d(-2px,0,0);
    }
    20%{
        -moz-transform: translate3d(2px,0,0);
    }
    40%{
        -moz-transform: translate3d(-2px,2px,0);
    }
    60%{
        -moz-transform: translate3d(2px,-2px,0);
    }
    80%{
        -moz-transform: translate3d(2px,2px,0);
    }
    100%{
        -moz-transform: translate3d(0,0,0);
    }
}
@-webkit-keyframes doudong /* Safari 和 Chrome */
{
    0%{
        -webkit-transform: translate3d(-2px,0,0);
    }
    20%{
        -webkit-transform: translate3d(2px,0,0);
    }
    40%{
        -webkit-transform: translate3d(-2px,2px,0);
    }
    60%{
        -webkit-transform: translate3d(2px,-2px,0);
    }
    80%{
        -webkit-transform: translate3d(2px,2px,0);
    }
    100%{
        -webkit-transform: translate3d(0,0,0);
    }
}
@-o-keyframes doudong /* Opera */
{
    0%{
        -o-transform: translate3d(-2px,0,0);
    }
    20%{
        -o-transform: translate3d(2px,0,0);
    }
    40%{
        -o-transform: translate3d(-2px,2px,0);
    }
    60%{
        -o-transform: translate3d(2px,-2px,0);
    }
    80%{
        -o-transform: translate3d(2px,2px,0);
    }
    100%{
        -o-transform: translate3d(0,0,0);
    }
}
/*
    动画名称：闪烁
*/
@keyframes shanshuo
{
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 1.0;
    }
    100%{
        opacity: 0.5;
    }
}
@-moz-keyframes shanshuo /* Firefox */
{
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 1.0;
    }
    100%{
        opacity: 0.5;
    }
}
@-webkit-keyframes shanshuo /* Safari 和 Chrome */
{
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 1.0;
    }
    100%{
        opacity: 0.5;
    }
}
@-o-keyframes shanshuo /* Opera */
{
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 1.0;
    }
    100%{
        opacity: 0.5;
    }
}
/*
    动画名称：突显
*/
@keyframes tuxian
{
    0%{
        transform: scale(1,1);
    }
    50%{
        transform: scale(1.5,1.5);
    }
    75%{
        transform: scale(0.8,0.8);
    }
    85%{
        transform: scale(1.1,1.1);
    }
    94.5%{
        transform: scale(0.95,0.95);
    }
    100%{
        transform: scale(1,1);
    }
}
@-moz-keyframes tuxian /* Firefox */
{
    0%{
        -moz-transform: scale(1,1);
    }
    50%{
        -moz-transform: scale(1.5,1.5);
    }
    75%{
        -moz-transform: scale(0.8,0.8);
    }
    85%{
        -moz-transform: scale(1.1,1.1);
    }
    94.5%{
        -moz-transform: scale(0.95,0.95);
    }
    100%{
        -moz-transform: scale(1,1);
    }
}
@-webkit-keyframes tuxian /* Safari 和 Chrome */
{
    0%{
        -webkit-transform: scale(1,1);
    }
    50%{
        -webkit-transform: scale(1.5,1.5);
    }
    75%{
        -webkit-transform: scale(0.8,0.8);
    }
    85%{
        -webkit-transform: scale(1.1,1.1);
    }
    94.5%{
        -webkit-transform: scale(0.95,0.95);
    }
    100%{
        -webkit-transform: scale(1,1);
    }
}
@-o-keyframes tuxian /* Opera */
{
    0%{
        -o-transform: scale(1,1);
    }
    50%{
        -o-transform: scale(1.5,1.5);
    }
    75%{
        -o-transform: scale(0.8,0.8);
    }
    85%{
        -o-transform: scale(1.1,1.1);
    }
    94.5%{
        -o-transform: scale(0.95,0.95);
    }
    100%{
        -o-transform: scale(1,1);
    }
}
/*
    动画名称：钟摆
*/
@keyframes zhongbai
{
    0%{
        transform: translate3D(-60px,-20px,0);
    }
    25%{
        transform: translate3D(0,0,0);
    }
    50%{
        transform: translate3D(60px,-20px,0);
    }
    75%{
        transform: translate3D(0,0,0);
    }
    100%{
        transform: translate3D(-60px,-20px,0);
    }
}
@-moz-keyframes zhongbai /* Firefox */
{
    0%{
        -moz-transform: translate3D(-60px,-20px,0);
    }
    25%{
        -moz-transform: translate3D(0,0,0);
    }
    50%{
        -moz-transform: translate3D(60px,-20px,0);
    }
    75%{
        -moz-transform: translate3D(0,0,0);
    }
    100%{
        -moz-transform: translate3D(-60px,-20px,0);
    }
}
@-webkit-keyframes zhongbai /* Safari 和 Chrome */
{
    0%{
        -webkit-transform: translate3D(-60px,-20px,0);
    }
    25%{
        -webkit-transform: translate3D(0,0,0);
    }
    50%{
        -webkit-transform: translate3D(60px,-20px,0);
    }
    75%{
        -webkit-transform: translate3D(0,0,0);
    }
    100%{
        -webkit-transform: translate3D(-60px,-20px,0);
    }
}
@-o-keyframes zhongbai /* Opera */
{
    0%{
        -o-transform: translate3D(-60px,-20px,0);
    }
    25%{
        -o-transform: translate3D(0,0,0);
    }
    50%{
        -o-transform: translate3D(60px,-20px,0);
    }
    75%{
        -o-transform: translate3D(0,0,0);
    }
    100%{
        -o-transform: translate3D(-60px,-20px,0);
    }
}
/*
    动画名称：从左渐入
*/
@keyframes enter_from_left_fadeIn
{
    0%{
        transform: translate3d(-1000px,0,0);
        opacity:0;
    }
    100%{
        transform: translate3d(0,0,0);
        opacity:1;
    }
}
@-moz-keyframes enter_from_left_fadeIn /* Firefox */
{
    0%{
        -moz-transform: translate3d(-1000px,0,0);
        opacity:0;
    }
    100%{
        -moz-transform: translate3d(0,0,0);
        opacity:1;
    }
}
@-webkit-keyframes enter_from_left_fadeIn /* Safari 和 Chrome */
{
    0%{
        -webkit-transform: translate3d(-1000px,0,0);
        opacity:0;
    }
    100%{
        -webkit-transform: translate3d(0,0,0);
        opacity:1;
    }
}
@-o-keyframes enter_from_left_fadeIn /* Opera */
{
    0%{
        -o-transform: translate3d(-1000px,0,0);
        opacity:0;
    }
    100%{
        -o-transform: translate3d(0,0,0);
        opacity:1;
    }
}
/*
    动画名称：从右侧渐入
*/
@keyframes enter_from_right_fadeIn
{
    0%{
        transform: translate3d(1000px,0,0);
        opacity:0;
    }
    100%{
        transform: translate3d(0,0,0);
        opacity:1;
    }
}
@-moz-keyframes enter_from_right_fadeIn  /* Firefox */
{
    0%{
        -moz-transform: translate3d(1000px,0,0);
        opacity:0;
    }
    100%{
        -moz-transform: translate3d(0,0,0);
        opacity:1;
    }
}
@-webkit-keyframes enter_from_right_fadeIn /* Safari 和 Chrome */
{
    0%{
        -webkit-transform: translate3d(1000px,0,0);
        opacity:0;
    }
    100%{
        -webkit-transform: translate3d(0,0,0);
        opacity:1;
    }
}
@-o-keyframes enter_from_right_fadeIn /* Opera */
{
    0%{
        -o-transform: translate3d(1000px,0,0);
        opacity:0;
    }
    100%{
        -o-transform: translate3d(0,0,0);
        opacity:1;
    }
}
/*
    动画名称：从上方渐入
*/
@keyframes enter_from_top_fadeIn
{
    0%{
        transform: translate3d(0,-1000px,0);
        opacity:0;
    }
    100%{
        transform: translate3d(0,0,0);
        opacity:1;
    }
}
@-moz-keyframes enter_from_top_fadeIn /* Firefox */
{
    0%{
        -moz-transform: translate3d(0,-1000px,0);
        opacity:0;
    }
    100%{
        -moz-transform: translate3d(0,0,0);
        opacity:1;
    }
}
@-webkit-keyframes enter_from_top_fadeIn /* Safari 和 Chrome */
{
    0%{
        -webkit-transform: translate3d(0,-1000px,0);
        opacity:0;
    }
    100%{
        -webkit-transform: translate3d(0,0,0);
        opacity:1;
    }
}
@-o-keyframes enter_from_top_fadeIn /* Opera */
{
    0%{
        -o-transform: translate3d(0,-1000px,0);
        opacity:0;
    }
    100%{
        -o-transform: translate3d(0,0,0);
        opacity:1;
    }
}
/*
    动画名称：从下方渐入
*/
@keyframes enter_from_bottom_fadeIn
{
    0%{
        transform: translate3d(0,1000px,0);
        opacity:0;
    }
    100%{
        transform: translate3d(0,0,0);
        opacity:1;
    }
}
@-moz-keyframes enter_from_bottom_fadeIn /* Firefox */
{
    0%{
        -moz-transform: translate3d(0,1000px,0);
        opacity:0;
    }
    100%{
        -moz-transform: translate3d(0,0,0);
        opacity:1;
    }
}
@-webkit-keyframes enter_from_bottom_fadeIn /* Safari 和 Chrome */
{
    0%{
        -webkit-transform: translate3d(0,1000px,0);
        opacity:0;
    }
    100%{
        -webkit-transform: translate3d(0,0,0);
        opacity:1;
    }
}
@-o-keyframes enter_from_bottom_fadeIn /* Opera */
{
    0%{
        -o-transform: translate3d(0,1000px,0);
        opacity:0;
    }
    100%{
        -o-transform: translate3d(0,0,0);
        opacity:1;
    }
}
/*
    动画名称：从左弹入
*/
@keyframes enter_from_left_tanru
{
    0%{
        transform: translate3d(-1000px,0,0);
    }
    80%{
        transform: translate3d(50px,0,0);
    }
    90%{
        transform: translate3d(-25px,0,0);
    }
    95%{
        transform: translate3d(10px,0,0);
    }
    100%{
        transform: translate3d(0,0,0);
    }
}
@-moz-keyframes enter_from_left_tanru /* Firefox */
{
    0%{
        -moz-transform: translate3d(-1000px,0,0);
    }
    80%{
        -moz-transform: translate3d(50px,0,0);
    }
    90%{
        -moz-transform: translate3d(-25px,0,0);
    }
    95%{
        -moz-transform: translate3d(10px,0,0);
    }
    100%{
        -moz-transform: translate3d(0,0,0);
    }
}
@-webkit-keyframes enter_from_left_tanru /* Safari 和 Chrome */
{
    0%{
        -webkit-transform: translate3d(-1000px,0,0);
    }
    80%{
        -webkit-transform: translate3d(50px,0,0);
    }
    90%{
        -webkit-transform: translate3d(-25px,0,0);
    }
    95%{
        -webkit-transform: translate3d(10px,0,0);
    }
    100%{
        -webkit-transform: translate3d(0,0,0);
    }
}
@-o-keyframes enter_from_left_tanru /* Opera */
{
    0%{
        -o-transform: translate3d(-1000px,0,0);
    }
    80%{
        -o-transform: translate3d(50px,0,0);
    }
    90%{
        -o-transform: translate3d(-25px,0,0);
    }
    95%{
        -o-transform: translate3d(10px,0,0);
    }
    100%{
        -o-transform: translate3d(0,0,0);
    }
}
/*
    动画名称：从右弹入
*/
@keyframes enter_from_right_tanru
{
    0%{
        transform: translate3d(1000px,0,0);
    }
    80%{
        transform: translate3d(-50px,0,0);
    }
    90%{
        transform: translate3d(25px,0,0);
    }
    95%{
        transform: translate3d(-10px,0,0);
    }
    100%{
        transform: translate3d(0,0,0);
    }
}
@-moz-keyframes enter_from_right_tanru /* Firefox */
{
    0%{
        -moz-transform: translate3d(1000px,0,0);
    }
    80%{
        -moz-transform: translate3d(-50px,0,0);
    }
    90%{
        -moz-transform: translate3d(25px,0,0);
    }
    95%{
        -moz-transform: translate3d(-10px,0,0);
    }
    100%{
        -moz-transform: translate3d(0,0,0);
    }
}
@-webkit-keyframes enter_from_right_tanru /* Safari 和 Chrome */
{
    0%{
        -webkit-transform: translate3d(1000px,0,0);
    }
    80%{
        -webkit-transform: translate3d(-50px,0,0);
    }
    90%{
        -webkit-transform: translate3d(25px,0,0);
    }
    95%{
        -webkit-transform: translate3d(-10px,0,0);
    }
    100%{
        -webkit-transform: translate3d(0,0,0);
    }
}
@-o-keyframes enter_from_right_tanru /* Opera */
{
    0%{
        -o-transform: translate3d(1000px,0,0);
    }
    80%{
        -o-transform: translate3d(-50px,0,0);
    }
    90%{
        -o-transform: translate3d(25px,0,0);
    }
    95%{
        -o-transform: translate3d(-10px,0,0);
    }
    100%{
        -o-transform: translate3d(0,0,0);
    }
}
/*
    动画名称：从上弹入
*/
@keyframes enter_from_top_tanru
{
    0%{
        transform: translate3d(0,-1000px,0);
    }
    80%{
        transform: translate3d(0,50px,0);
    }
    90%{
        transform: translate3d(0,-25px,0);
    }
    95%{
        transform: translate3d(0,10px,0);
    }
    100%{
        transform: translate3d(0,0,0);
    }
}
@-moz-keyframes enter_from_top_tanru /* Firefox */
{
    0%{
        -moz-transform: translate3d(0,-1000px,0);
    }
    80%{
        -moz-transform: translate3d(0,50px,0);
    }
    90%{
        -moz-transform: translate3d(0,-25px,0);
    }
    95%{
        -moz-transform: translate3d(0,10px,0);
    }
    100%{
        -moz-transform: translate3d(0,0,0);
    }
}
@-webkit-keyframes enter_from_top_tanru /* Safari 和 Chrome */
{
    0%{
        -webkit-transform: translate3d(0,-1000px,0);
    }
    80%{
        -webkit-transform: translate3d(0,50px,0);
    }
    90%{
        -webkit-transform: translate3d(0,-25px,0);
    }
    95%{
        -webkit-transform: translate3d(0,10px,0);
    }
    100%{
        -webkit-transform: translate3d(0,0,0);
    }
}
@-o-keyframes enter_from_top_tanru /* Opera */
{
    0%{
        -o-transform: translate3d(0,-1000px,0);
    }
    80%{
        -o-transform: translate3d(0,50px,0);
    }
    90%{
        -o-transform: translate3d(0,-25px,0);
    }
    95%{
        -o-transform: translate3d(0,10px,0);
    }
    100%{
        -o-transform: translate3d(0,0,0);
    }
}
/*
    动画名称：从下弹入
*/
@keyframes enter_from_bottom_tanru
{
    0%{
        transform: translate3d(0,1000px,0);
    }
    80%{
        transform: translate3d(0,-50px,0);
    }
    90%{
        transform: translate3d(0,25px,0);
    }
    95%{
        transform: translate3d(0,-10px,0);
    }
    100%{
        transform: translate3d(0,0,0);
    }
}
@-moz-keyframes enter_from_bottom_tanru /* Firefox */
{
    0%{
        -moz-transform: translate3d(0,1000px,0);
    }
    80%{
        -moz-transform: translate3d(0,-50px,0);
    }
    90%{
        -moz-transform: translate3d(0,25px,0);
    }
    95%{
        -moz-transform: translate3d(0,-10px,0);
    }
    100%{
        -moz-transform: translate3d(0,0,0);
    }
}
@-webkit-keyframes enter_from_bottom_tanru /* Safari 和 Chrome */
{
    0%{
        -webkit-transform: translate3d(0,1000px,0);
    }
    80%{
        -webkit-transform: translate3d(0,-50px,0);
    }
    90%{
        -webkit-transform: translate3d(0,25px,0);
    }
    95%{
        -webkit-transform: translate3d(0,-10px,0);
    }
    100%{
        -webkit-transform: translate3d(0,0,0);
    }
}
@-o-keyframes enter_from_bottom_tanru /* Opera */
{
    0%{
        -o-transform: translate3d(0,1000px,0);
    }
    80%{
        -o-transform: translate3d(0,-50px,0);
    }
    90%{
        -o-transform: translate3d(0,25px,0);
    }
    95%{
        -o-transform: translate3d(0,-10px,0);
    }
    100%{
        -o-transform: translate3d(0,0,0);
    }
}

