@font-face {
    font-family: 'Helvetica';
    src: url('fonts/Helvetica/Helvetica.eot');
    src: url('fonts/Helvetica/Helvetica.eot?#iefix') format('embedded-opentype'),
    url('fonts/Helvetica/Helvetica.svg') format('svg'),
    url('fonts/Helvetica/Helvetica.ttf') format('truetype'),
    url('fonts/Helvetica/Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: Helvetica;
}
.text-black{
    color: #000000;
}
.text-gray{
    color: #2d3437;
}
.text-orange{
    color: #ff8800;
}
.text-green{
    color: #53b802;
}
.icon-add-stage{
    background-image: url(../img/icon-add-stage.png);
}
.icon-align-center{
    background-image: url(../img/icon-align-center.png);
}
.icon-align-left{
    background-image: url(../img/icon-align-left.png);
}
.icon-align-right{
    background-image: url(../img/icon-align-right.png);
}
.icon-arrow-left{
    background-image: url(../img/icon-arrow-left.png);
}
.icon-arrow-left-cirle{
    background-image: url(../img/icon-arrow-left-cirle.png);
}
.icon-arrow-left-white{
    background-image: url(../img/icon-arrow-left-white.png);
}
.icon-arrow-right-list{
    background-image: url(../img/icon-arrow-right-list.png);
}
.icon-arrow-up-twoline{
    background-image: url(../img/icon-arrow-up-twoline.png);
}
.icon-bold{
    background-image: url(../img/icon-bold.png);
}
.icon-bold-active{
    background-image: url(../img/icon-bold-active.png);
}
.icon-correct{
    background-image: url(../img/icon-correct.png);
}
.icon-correct-black{
    background-image: url(../img/icon-correct-black.png);
}
.icon-correct-white{
    background-image: url(../img/icon-correct-white.png);
}
.icon-download{
    background-image: url(../img/icon-download.png);
}
.icon-dustbin{
    background-image: url(../img/icon-dustbin.png);
}
.icon-hyperlink{
    background-image: url(../img/icon-hyperlink.png);
}
.icon-hyperlink-active{
    background-image: url(../img/icon-hyperlink-active.png);
}
.icon-italic{
    background-image: url(../img/icon-italic.png);
}
.icon-italic-active{
    background-image: url(../img/icon-italic-active.png);
}
.icon-layout{
    background-image: url(../img/icon-layout.png);
}
.icon-layout-active{
    background-image: url(../img/icon-layout-active.png);
}
.icon-list{
    background-image: url(../img/icon-list.png);
}
.icon-music-cd{
    background-image: url(../img/icon-music-cd.png);
}
.icon-pencil{
    background-image: url(../img/icon-pencil.png);
}
.icon-pencil-active{
    background-image: url(../img/icon-pencil-active.png);
}
.icon-pencil-circle{
    background-image: url(../img/icon-pencil-circle.png);
}
.icon-play{
    background-image: url(../img/icon-play.png);
}
.icon-publish-circle{
    background-image: url(../img/icon-publish-circle.png);
}
.icon-quot-end{
    background-image: url(../img/icon-quot-end.png);
}
.icon-quot-start{
    background-image: url(../img/icon-quot-start.png);
}
.icon-settings{
    background-image: url(../img/icon-settings.png);
}
.icon-tags-hot{
    background-image: url(../img/icon-tags-hot.png);
}
.icon-tags-new{
    background-image: url(../img/icon-tags-new.png);
}
.icon-logo{
    background-image: url(../img/logo.png);
}
.icon-enter-edit-text{
    background-image: url(../img/icon-enter-edit-text.png);
}
.icon-enter-edit-image{
    background-image: url(../img/icon-enter-edit-image.png);
}
symbol[type=text].select{
    background-color: rgba(0,0,0,.5);
    box-shadow: white 0 0 15px;
}
symbol[type=image].select{
    box-shadow: white 0 0 15px;
    opacity: .8;
}
symbol[type=text].select .icon-enter-edit-text,
symbol[type=image].select .icon-enter-edit-image{
    position: absolute;
    width: 36px;
    height: 36px;
    top: -18px;
    right:-18px;
    z-index: 9;
}
.header{
    height: 48px;
    line-height: 48px;
    overflow: hidden;
}
.header [class*="icon-"]{
    float: left;
    width: 48px;
    height: 48px;
    background-size: auto 50%;
}
.header .icon-arrow-left{
    background-size: auto 45%;
}
#main .icon-add-stage{
    position: absolute;
    width: 75px;
    height: 75px;
    bottom: 10px;
    right: 10px;
    z-index: 9;
}
#storyContainer{
    position: absolute;
    top: 48px;
    left: 0px;
    width: 100%;
    height: 100%;
    -webkit-transition:all 0.8s;
}
#storyContainer.smaller{
    top: 285px;
}
#storyContainer story{
    -webkit-transition:all 0.8s;
    left: 0;
}
#storyContainer stage{
    float: left;
    border-radius:8px;
    box-shadow:#333 1px 1px 8px;
    -webkit-transition:all 0.8s;
    -webkit-transform:scale(.75,.75);
    top: -7.5%;
    margin-right: -6.25%;
}
#storyContainer.smaller stage{
    top: -16.5%;
    -webkit-transform:scale(.64,.64);
    margin-right: -9%;
}










