@font-face {
    font-family: 'Acens';
    src: url('../fonts/Acens/Acens.eot');
    src: url('../fonts/Acens/Acens.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Acens/Acens.woff') format('woff'),
    url('../fonts/Acens/Acens.ttf') format('truetype'),
    url('../fonts/Acens/Acens.svg#NeuesBauenDemo') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'VnBahamasBH';
    src: url('../fonts/VnBahamasBH/VnBahamasBH.eot');
    src: url('../fonts/VnBahamasBH/VnBahamasBH.eot?#iefix') format('embedded-opentype'),
    url('../fonts/VnBahamasBH/VnBahamasBH.woff') format('woff'),
    url('../fonts/VnBahamasBH/VnBahamasBH.ttf') format('truetype'),
    url('../fonts/VnBahamasBH/VnBahamasBH.svg#NeuesBauenDemo') format('svg');
    font-weight: normal;
    font-style: normal;
}