#stageSelect{
    background-color: #f5f5f5;
    -webkit-transition:height 0.8s;
    height: 0px;
    overflow: hidden;
}
#stageSelect.opened{
    height: 237px;
}
#stageSelect .tabnav{
    width: 100%;
    border-bottom: #e0e1e2 1px solid;
}
#stageSelect .tabnav ul{
    padding-right: 16px;
}
#stageSelect .tabnav a{
    display: block;
    padding: 12px 0;
    border-bottom: transparent 3px solid;
    margin-left: 16px;
}
#stageSelect .tabnav a.active{
    font-weight: bolder;
    border-bottom-color: #52b502;
    color: #52b502;
}
#stageSelect .tabcon-item{
    width: 100%;
    padding: 15px 0;
}
#stageSelect .tabcon-item ul{
    padding-right: 16px;
}
#stageSelect .tabcon-item div.rel{
    width: 105px;
    height: 160px;
    border: transparent 2px solid;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin-left: 16px;
}
#stageSelect .tabcon-item div.active{
    border-color:#52b502;
}
#stageSelect .tabcon-item div.rel .icon-tags-new,
#stageSelect .tabcon-item div.rel .icon-tags-hot{
    position: absolute;
    left: 0;
    top: 0;
    width: 26.54028436018957%;
    height: 26.78571428571429%;
}
#stageSelect .tabcon-item div.rel .icon-download{
    position: absolute;
    width: 32.70142180094787%;
    height: 20.53571428571429%;
    bottom: 6px;
    right: 6px;
}
#stageSelect .tabcon-item div.rel .proccess-bar{
    position: absolute;
    width: 80%;
    height: 10px;
    left: 10%;
    bottom: 6px;
    border-radius: 8px;
    background-color: #e3e3e3;
    opacity: 0.9;
    overflow: hidden;
}
#stageSelect .tabcon-item div.rel .proccess-bar span{
    display: block;
    height: 100%;
    width: 0;
    background-color: #ff8800;
}